.wrapper {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 400px;
  max-width: 100%;
  position: relative;
}

.wrapper input {
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid rgb(148, 148, 148);
  border-radius: 50px;
  padding: 1rem 2rem;
  width: 100%;
}

body .logo {
  margin-top: 80px;
}

body .p1 {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: url("../Images/background.png");
  background-size: cover;
}
h2 {
  font-size: 60px;
  margin-bottom: 20px;
  margin-top: 100px !important;
}

form {
  display: flex;
  flex-direction: row;
  /* Change to column layout */
  align-items: center;
  justify-content: center;
  height: 40vh;
  margin: 0;
  gap: 20px;
}

.inputBox {
  position: relative;
  width: 250px;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

label {
  margin-bottom: 8px;
  /* Add a gap between labels and inputs */
}

input {
  margin-bottom: 12px;
  /* Add a gap between input fields */
}

button[type="submit"] {
  margin-top: 10px;
  /* Adjust the top margin of the Add Task button */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

/* CSS */
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

/* CSS */
.button-89 {
  --b: 3px;
  /* border thickness */
  --s: .45em;
  /* size of the corner */
  --color: #373B44;

  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

footer {
  padding: 10px; }

.footer-07 {
  background: #121212; }
  .footer-07 a {
    color: #a3de83; }
  .footer-07 p {
    color: rgba(255, 255, 255, 0.3); }
  .footer-07 .footer-heading {
    margin-top: 10px;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px; }
    .footer-07 .footer-heading .logo {
      color: #fff; }
  .footer-07 .menu {
    margin-bottom: 30px; }
    .footer-07 .menu a {
      color: rgba(255, 255, 255, 0.6);
      margin: 0 10px;
      text-transform: uppercase;
      letter-spacing: 1px; }
  .footer-07 .ftco-footer-social li a {
    background: transparent;
    border: 1px solid #a3de83; }
/* ######################################################################################## */
